body {
  background-color: #ffe5d9;
}

/*  ----- header ------*/
header h1 {
  text-align: center;
  color: #b5838d;
  font-family: 'Gill Sans';
  font-size: 68px;
  text-transform: uppercase;
  padding-top: 50px;
  }

header h2 {
  text-align: center;
  color: #e5989b;
  font-family: 'Gill Sans';
  font-size: 25px;
}
/*------ body ------- */

section {
  text-align: center;
}

.list-inside li {
  list-style-position: inside;
}

footer {
  background-color: #b5838d;
  text-align:center;
}

.wrapper {
  width: 400px;
  margin: auto;
}
/* ----------links -------------*/
a {
  font-family: Gill 'Gill Sans';
  font-size: 15px;
  text-align: center;
}

a:link    { color: #b5838d  }
a:visited { color: black  }
a:hover   { color:dimgray; }
a:active  { color: pink;  }


/* -------- images ------- */
.lg-image {
  height:250px;
  width: 230px;
  position: relative;
  border-radius: 50%;
  padding: 20px;
}
.md-image {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  
}

.sm-image {
  height: 200px;
  width: 200px;
}
